@page "/"
@inject TodoService TodoService
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<div class="container mx-auto">
    @if (TodoFormVisible)
    {
        <AddTodo OnClose="HideTodoForm" />
    }
    <div class="flex justify-between items-center">
        <h1 class="text-xl font-bold">Make It</h1>
        <button @onclick="ShowTodoForm" class="p-2 text-white bg-secondary rounded-lg hover:bg-secondary-accentuation transition-all">➕ Add new</button>
    </div>
    <div class="flex w-full mt-4">
        <table class="w-full">
            <thead class="bg-secondary p-4">
                <td class="text-white">Title</td>
                <td class="text-white">Status</td>
                <td class="text-white">Actions</td>
            </thead>
            <tbody>
                @foreach(var todo in Todos)
                {
                    <tr class="p-4 cursor-pointer bg-slate-200 hover:bg-slate-100 transition-all" @onclick="() => ToggleStatus(todo)">
                        <td>@todo.Name</td>
                        @if (todo.IsCompleted)
                        {
                            <td>✅</td>
                        }
                        else
                        {
                            <td>❌</td>
                        }
                        <td class="flex gap-4">
                            <button @onclick="() => Delete(todo)" class="cursor-pointer">🗑️</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code{
    private List<Todo> Todos = [];
    private bool TodoFormVisible;
    protected override async Task  OnInitializedAsync()
    {
        Todos = [.. await TodoService.GetAllAsync()];
    }

    private async Task Delete(Todo todo)
    {
        var success = await TodoService.DeleteAsync(todo.Id);
        if(success)
        {
            Todos.Remove(todo);
        }
    }

    private void ShowTodoForm()
    {
        TodoFormVisible = true;
    }

    private void HideTodoForm()
    {
        TodoFormVisible = false;
        NavigationManager.Refresh();
    }

    private async Task ToggleStatus(Todo todo)
    {
       await TodoService.ToggleStatus(todo);
    }
}
